@use "../abstracts/mixins" as *;

.wrap {
	width: min(100%, 1440px);
	margin-inline: auto;
}

.section {
	padding: 52px var(--gutter);
}

@include bp(lg) {
	.section {
		padding: 96px var(--gutter);
	}
}
